@import
"../../node_modules/bootstrap/scss/bootstrap-flex.scss",
"./variables.scss";

body {
  background-color: $yellow;

}

.initial-inputs {
  padding: $space-stack-xl;
  .quote-input, .author-input {
    @extend .form-control;
    resize: none;
  }
}
