@import
"../../node_modules/bootstrap/scss/bootstrap-flex.scss",
"./variables.scss",
"./helpers.scss",
"./print.scss";

body {
  background-color: $bg-color;
}

.react-top-level {
  padding: $space-stack-xl;
  .step-1 {
    .quote-input, .author-input {
      @extend .form-control;
      resize: none;
    }
  }

  .grid {
    display: flex;
    flex-flow: row wrap;
    width: 502px;
    margin: auto;
    border-top: 2px solid $black;
    border-right: 2px solid $black;
    .tile {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: $space-xs;
      border: 2px solid $black;
      border-top: none;
      border-right: none;
      .index {
        position: absolute;
        right: 2px;
        top: 0;
        font-size: 12px;
      }
    }
  }

  .words {
    .word {
      display: flex;
      align-items: flex-end;
      font-size: 18px;
      line-height: 18px;
      padding: $space-stack-sm;
      input {
        width: 100%;
        transform: translateY($space-xs);
        background-color: $bg-color;
        border: none;
        border-bottom: 2px solid $black;
        text-shadow: none;
        outline: none;
      }
      .first-letter {
        text-transform: capitalize;
      }
      .label {
        margin-right: $space-xs;
      }
    }
  }
}
