@import
"../../node_modules/bootstrap/scss/bootstrap-flex.scss",
"./variables.scss",
"./print.scss";

body {
  background-color: $yellow;
}

.initial-inputs {
  padding: $space-stack-xl;
  .error-message {
    display: none;
  }
  .has-error {
    .form-control {
      border: 1px solid $red;
      background-color: lighten($red, 50%);
    }
    .error-message {
      display: block;
      color: $red;
    }
  }
  .quote-input, .author-input {
    @extend .form-control;
    resize: none;
  }
}
