@import
"../../node_modules/bootstrap/scss/bootstrap-flex.scss",
"./variables.scss";


.red {
  color: $red !important;
}
.green {
  color: $green !important;
}
.white {
  color: $white !important;
}
.bg-black {
  background-color: $black !important;
}
