// colors
$white: white;
$black: black;
$yellow: #fbb542;
$red: #c0262c;
$green: #8cc162;
$orange: #f17341;
$turquoise: #117877;
$dark-pink: #7f1839;

// spacing
$space-inset-xs: 0 4px;
$space-inset-s: 0 8px;
$space-inset-m: 0 16px;
$space-inset-l: 0 32px;
$space-inset-xl: 0 64px;
$space-stack-xs: 4px 0;
$space-stack-s: 8px 0;
$space-stack-m: 16px 0;
$space-stack-l: 32px 0;
$space-stack-xl: 64px 0;
$space-xs: 4px;
$space-s: 8px;
$space-m: 16px;
$space-l: 32px;
